In [1]:
import pandas as pd
import os

In [2]:
data = pd.read_excel('Region_NW.xlsx', index_col=1)
data.index = pd.to_datetime(data.index)

In [3]:
regions = ['AVA', 'AVRN', 'BPAT', 'CHPD', 'DOPD', 'GCPD', 'GRID', 'GWA', 'IPCO', 'NEVP', 'NWMT', 'PACE', 'PACW', 'PGE', 'PSCO', 'PSEI', 'SCL', 'TPWR', 'WACM', 'WAUW', 'WWA']
for r in regions:
    region = pd.read_excel(r + '.xlsx', index_col=1)
    region.index = pd.to_datetime(region.index)
    temp = region['D']
    temp.column = [r+'_D']
    data = data.join(temp)

ValueError: columns overlap but no suffix specified: Index(['D'], dtype='object')

In [4]:
temp

UTC time
2015-07-01 08:00:00    1192.0
2015-07-01 09:00:00    1108.0
2015-07-01 10:00:00    1058.0
2015-07-01 11:00:00    1024.0
2015-07-01 12:00:00    1031.0
                        ...
2023-04-18 03:00:00       NaN
2023-04-18 04:00:00       NaN
2023-04-18 05:00:00       NaN
2023-04-18 06:00:00       NaN
2023-04-18 07:00:00       NaN
Name: D, Length: 68352, dtype: float64

In [5]:
data

,Region,Local date,Hour,Local time,Time zone,DF,D,NG,TI,Sum (NG),...,CO2 Emissions: OIL,CO2 Emissions: Other,CO2 Emissions Generated,CO2 Emissions Imported,CO2 Emissions Exported,CO2 Emissions Consumed,Positive Generation,Consumed Electricity,CO2 Emissions Intensity for Generated Electricity,CO2 Emissions Intensity for Consumed Electricity
UTC time,,,,,,,,,,,,,,,,,,,,,
2015-07-01 07:00:00,NW,2015-07-01,1,2015-07-01 01:00:00,Mountain,12519,12775.0,13093.0,318.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01 08:00:00,NW,2015-07-01,2,2015-07-01 02:00:00,Mountain,33882,34914.0,26717.0,1233.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01 09:00:00,NW,2015-07-01,3,2015-07-01 03:00:00,Mountain,32428,33142.0,25288.0,1043.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01 10:00:00,NW,2015-07-01,4,2015-07-01 04:00:00,Mountain,31437,32096.0,24501.0,1067.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01 11:00:00,NW,2015-07-01,5,2015-07-01 05:00:00,Mountain,30905,31579.0,24328.0,1083.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-10 03:00:00,NW,2023-02-09,20,2023-02-09 20:00:00,Mountain,44859,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-10 04:00:00,NW,2023-02-09,21,2023-02-09 21:00:00,Mountain,44416,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-10 05:00:00,NW,2023-02-09,22,2023-02-09 22:00:00,Mountain,43352,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-10 06:00:00,NW,2023-02-09,23,2023-02-09 23:00:00,Mountain,41566,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-10 07:00:00,NW,2023-02-09,24,2023-02-10 00:00:00,Mountain,40008,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data = data.dropna(axis='columns', how='all')
data = data.dropna(axis=0, subset=['D'])
data = data.drop(columns=['Local time', 'Local date', 'Hour', 'Time zone', 'DF', 'Region'])
data.to_csv('data.csv')