In [1]:
import pandas as pd
from statistics import mode

In [2]:
file = ['iforest_label.csv', 'random_forest.csv', 'one class svm.csv', 'autoencoder.csv', 'kmeans-3.csv', 'dbscan.csv']
res = []
for f in file:
    data = pd.read_csv(f, index_col=0).values
    res.append(data.squeeze())

In [3]:
res = pd.DataFrame(res).T
res.columns = [x[:-4] for x in file]

In [4]:
def row_mode(row):
    return mode(row)

In [5]:
res['mode'] = res.apply(row_mode, axis=1)

In [6]:
res.to_csv('labels.csv')

In [7]:
res

,iforest_label,random_forest,one class svm,autoencoder,kmeans-3,dbscan,mode
0,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
66714,1,1,1,1,1,1,1
66715,1,1,1,1,1,1,1
66716,1,1,1,1,1,1,1
66717,1,1,1,1,1,1,1
66718,1,1,1,1,1,1,1

In [8]:
import numpy as np
np.where(res['mode']==-1)

(array([   21,   376,  1081,  1528,  3016,  3903,  6392,  6740,  7172,
        10947, 12364, 12520, 13443, 14475, 14867, 15812, 21083, 21927,
        21975, 22659, 24482, 25923, 28747, 28924, 29772, 31387, 37983,
        45915, 47007, 49720, 52131, 52769, 52889, 52997, 59594, 59804,
        60675, 61645, 61769, 61865, 62297, 62321, 62825]),)

In [9]:
res.eq(-1).sum()

iforest_label    134
random_forest    120
one class svm    134
autoencoder      131
kmeans-3         134
dbscan           142
mode              43
dtype: int64